html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-color: #d8d7d4;
    max-width: 100%;
    text-align: center;
    margin: auto;
}

.header {
    size: 75px;
    text-align: center;
}

.app {
    background-color: rgb(248, 228, 205);
    border: 3px solid black;
    max-width: 75%;
    margin: auto;
}

.quote-text {
    max-width: 72%;
    margin: auto;
    margin-top: 12px;
}

.quote-author {
    font-size: medium;
    font-weight: bold;
}

.quote-source {
    font-size: small;
    margin-bottom: 10px;
}